.game-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#canvases-wrapper {
  position: relative;
}

#canvas {
  position: absolute;
}

#transition-canvas {
  position: absolute;
  z-index: -1;
}
