.game-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  .player-status {
    position: absolute;
  }

  #canvases-wrapper {
    position: relative;
    margin-top: 100px;
  }

  #canvas {
    position: absolute;
  }

  #transition-canvas {
    position: absolute;
    z-index: -1;
  }
}
